In [3]:
import random
import pandas as pd

# Define the total numbers for events and attendees
num_events = 100
num_attendees = 1000

# Generate event IDs: e1, e2, ..., e100
event_ids = [f"e{i}" for i in range(1, num_events + 1)]

# Generate attendee IDs: a1, a2, ..., a1000
attendee_ids = [f"a{i}" for i in range(1, num_attendees + 1)]

# Initialize an empty list to store the event-attendee pairs
event_attendee_pairs = []

# Loop through each event and assign a random set of attendees
for event in event_ids:
    # Randomly determine the number of attendees for this event (between 30 and 90)
    num_event_attendees = random.randint(30, 90)
    
    # Randomly sample the specified number of unique attendees (without duplicates per event)
    selected_attendees = random.sample(attendee_ids, num_event_attendees)
    
    # Create a dictionary entry for each event-attendee pair and add it to the list
    for attendee in selected_attendees:
        event_attendee_pairs.append({
            'event_id': event,
            'attendee_id': attendee
        })

# Convert the list of dictionaries to a pandas DataFrame
df = pd.DataFrame(event_attendee_pairs)

# Export the DataFrame to a CSV file
df.to_csv('event_attendee_pairs.csv', index=False)

# Optionally, display the first few rows of the DataFrame
print(df.head())

  event_id attendee_id
0       e1        a925
1       e1        a464
2       e1        a769
3       e1        a611
4       e1        a799

In [4]:
df

     event_id attendee_id
0          e1        a925
1          e1        a464
2          e1        a769
3          e1        a611
4          e1        a799
...       ...         ...
5836     e100        a789
5837     e100        a535
5838     e100        a982
5839     e100        a190
5840     e100        a576

[5841 rows x 2 columns]